<div class="container custom-container-2">

  <!-- listado de proyectos -->
  <div *ngIf="Proyecto.length !== 0">
    <h3 class="mb-3 text-center" style="margin: 10px">Lista de Proyectos</h3>

    <a class="btn btn-primary" style="margin: 10px" href="/proyecto-create" role="button">Crear Proyecto</a>

    <div class="col-md-12" style="overflow:auto;">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Fecha de Inicio</th>
            <th scope="col">Fecha de Finalizacion</th>
            <th scope="col">Repositorio</th>
            <th scope="col">Accion</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let proyecto of Proyecto">
            <td>{{proyecto.nombre}}</td>
            <td>{{proyecto.descripcion}}</td>
            <td>{{proyecto.fechaInicio | date: 'dd/MM/yyyy'}}</td>
            <td>{{proyecto.fechaFinalizacion | date: 'dd/MM/yyyy'}}</td>
            <td><a href= {{proyecto.link}} target="_blank">Link</a></td>
            <td>
              <a class="btn btn-outline-primary btn-sm" style="margin: 5px" href="/proyecto-edit/{{proyecto.id}}"
                role="button">Editar</a>
              <a class="btn btn-outline-danger btn-sm" style="margin: 5px" (click)="mostrarEliminarConfirmacion(proyecto.id)"
                role="button">Eliminar</a>
              <button type="button" class="btn btn-outline-dark btn-sm" style="margin: 5px"
                (click)="getProyectoId(proyecto.id)" data-toggle="modal" data-target="#exampleModal"
                data-whatever="@mdo">+ Horas</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

    <!-- cuando no hay proyectos -->
    <div class="card"  style="margin: 20px" *ngIf="Proyecto.length == 0">
      <div class="card-header">
        <h5>No tienes proyectos todavia!</h5>
      </div>
      <div class="card-body">
        <p class="card-text">Comienza a medir el avance en tus proyectos creando uno ahora.</p>
        <button class="btn btn-primary" style="margin: 10px" routerLink="/proyecto-create">Crear Proyecto</button>
      </div>
    </div>

</div>


<!-- Modal para agregar horas -->

<div class="modal hide fade in" data-keyboard="false" data-backdrop="static" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agregue horas al proyecto</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cerrar()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #hora='ngForm' (ngSubmit)="AgregarHoras(hora)" class="form-horizontal" style="width:50%">
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Cantidad de horas:</label>
            <input type="number" class="form-control" min="0" max="24" [(ngModel)]='hora.cantidad' name="cantidad" #cantidad="ngModel" required>
          </div>
          <div class="alert-danger">
            <div *ngIf="hora.cantidad < 0 || hora.cantidad >24">La cantidad de horas debe ser mayor a cero y menor a 24</div>
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Dia:</label>
            <input type="date" class="form-control" [(ngModel)]='hora.dia' name="dia" #dia="ngModel" required>
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Descripcion:</label>
            <textarea type="text" class="form-control" [(ngModel)]='hora.descripcion' name="descripcion"
              #descripcion="ngModel"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <div class="form-group">
        <button type="button" class="btn btn-primary" [disabled]= "(hora.cantidad > 0 && hora.cantidad <= 24 && hora.dia)? false : true" (click)="AgregarHoras(hora)"  
         data-dismiss="modal">Agregar</button>
          </div>
        <button type="button" class="btn btn-secondary" style="margin: 10px" (click)="cancel()"
          data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>


<ng-template id= "ng-template"#modal let-modal>
  <!-- Modal horas cargadas con exito -->
  <div class="modal fade modalconfirm" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog " role="document">
      <div class="modal-content" id="modalid">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Horas agregadas con exito!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cerrar()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Las horas han sido agregadas a su proyecto con exito
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal"(click)="cerrar()">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
  </ng-template>


  <ng-template id= "ng-template"#modalEliminar let-modal>
    <!-- Modal Proyecto eliminado con exito -->
    <div class="modal fade modalconfirm" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog " role="document">
        <div class="modal-content" id="modalid">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Proyecto eliminado con exito!</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cerrar()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Su proyecto ha sido eliminado con exito
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal"(click)="cerrar()">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
    </ng-template>

  
    <ng-template id= "ng-template"#modalEliminarConfirmacion let-modal>
      <!-- Modal confirmacion antes de eliminar -->
      <div class="modal hide fade in  modalconfirm" data-keyboard="false" data-backdrop="static" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" id="modalid">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirmacion</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cerrar()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Esta seguro que desea eliminar el proyecto         
      </div>
      <div class="modal-footer">
        <div class="form-group">
        <button type="button" class="btn btn-danger" (click)="deleteProyecto()"  
         data-dismiss="modal">Eliminar</button>
          </div>
        <button type="button" class="btn btn-secondary" style="margin: 10px" (click)="cerrar()"
          data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>
</ng-template>