<div class="container custom-container-2">

    <!-- cuando no hay proyectos -->
    <div class="no-data text-center" *ngIf="Proyecto.length == 0">
      <p>No tienes proyectos todavia!</p>
      <button class="btn btn-outline-primary" routerLink="/proyecto-create">Crear Proyecto</button>
    </div>
  
    <!-- listado de proyectos, se oculta cuando es vacia -->
    <div *ngIf="Proyecto.length !== 0">
      <h3 class="mb-3 text-center">Lista de Proyectos</h3>
  
      <div class="col-md-12">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Identificador</th>
              <th scope="col">Nombre</th>
              <th scope="col">Descripcion</th>
              <th scope="col">Fecha de Inicio</th>
              <th scope="col">Fecha de Finalizacion</th>
              <th scope="col">Link</th>
              <th scope="col">Accion</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let proyecto of Proyecto">
              <td>{{proyecto.id}}</td>
              <td>{{proyecto.nombre}}</td>
              <td>{{proyecto.descripcion}}</td>
              <td>{{proyecto.fechaInicio}}</td>
              <td>{{proyecto.fechaFinalizacion}}</td>
              <td>{{proyecto.link}}</td>
              <td>
                <span class="edit" routerLink="/proyecto-edit/{{proyecto.id}}">Editar</span>
                <span class="delete" (click)="deleteProyecto(proyecto.id)">Borrar</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  
    </div>
  
  </div>