<div class="container" style="border:thin">  
  <div class="col-md-12"  style="width:90%" >
    <h3 class="mb-3 text-center">Crear Proyecto</h3>
      <form #empadd='ngForm' (ngSubmit)="Register(empadd)" class="form-horizontal"  > 
     
    <div class="form-group">
      <input type="text"  [(ngModel)]='objemp.nombre' name="nombre" #nombre="ngModel" class="form-control" placeholder="Nombre" required>
    </div>

    <div class="form-group">
      <input type="text" [(ngModel)]='objemp.descripcion' name="descripcion" #descripcion="ngModel" class="form-control" placeholder="Descripcion">
    </div>
    
    <div class="row">
      <div class="col">
        <div class="form-group">
           <small id="fechaInicio" class="form-text text-muted">seleccione fecha de inicio</small>
          <input type="date"  [(ngModel)]='objemp.fechaInicio' name="fechaInicio" #fechaInicio="ngModel" class="form-control" placeholder="Fecha de Inicio" required>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <small id="fechaFinalizacion" class="form-text text-muted">seleccione fecha de finalizacion</small>
          <input type="date"  [(ngModel)]='objemp.fechaFinalizacion' name="fechaFinalizacion"  #fechaFinalizacion="ngModel"  class="form-control" placeholder="Fecha de Finalizacion" required>
        </div>
      </div>
    </div>


    <div class="form-group">
      <input type="text" [(ngModel)]='objemp.link' name="link" #link="ngModel" class="form-control"  placeholder="Link o Ubicacion">
    </div>

    <div class="form-group">
      <button class="btn btn-success btn-lg btn-block" [disabled]="!empadd.form.valid">Crear Proyecto</button>
    </div>

    <div class="form-group">
        <button class="btn btn-secondary btn-lg btn-block" (click)="cancel()">Cancelar</button>
    </div>

    </form>
  </div>
</div>