<div class="container" style="border:thin">  
  <div class="col-md-12">
    <h3 class="mb-3 text-center">Crear Proyecto</h3>
    <form #empadd='ngForm' (ngSubmit)="Register(empadd)" class="form-horizontal" style="width:50%"  > 
     
    <div class="form-group">
      <input type="text"  [(ngModel)]='objemp.nombre' name="nombre"  #nombre="ngModel" class="form-control" placeholder="Nombre">
    </div>

    <div class="form-group">
      <input type="text" [(ngModel)]='objemp.descripcion' name="descripcion" #descripcion="ngModel" class="form-control" placeholder="Descripcion">
    </div>
    
    <div class="form-group">
      <input type="text"  [(ngModel)]='objemp.fechaInicio' name="fechaInicio" #fechaInicio="ngModel" class="form-control" placeholder="Fecha de Inicio">
    </div>

    <div class="form-group">
      <input type="text"  [(ngModel)]='objemp.fechaFinalizacion' name="fechaFinalizacion" #fechaFinalizacion="ngModel"  class="form-control" placeholder="Fecha de Finalizacion">
    </div>

    <div class="form-group">
      <input type="text" [(ngModel)]='objemp.link' name="link" #link="ngModel" class="form-control" placeholder="Link">
    </div>

    <div class="form-group">
      <button class="btn btn-success btn-lg btn-block" >Crear Proyecto</button>
    </div>

    </form>
  </div>
</div>