<table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"></th>
        <td>Horas trabajadas durante este mes: </td>
        <td>{{Estadistica.horasMes}}</td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td>Horas trabajadas totales: </td>
        <td>{{Estadistica.horasTotales}}</td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td>Proyectos totales: </td>
        <td>{{Estadistica.cantidadProyectos}}</td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td>Proyectos completados: </td>
        <td>{{Estadistica.cantidadProyectosTermiandos}}</td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>