<table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"></th>
        <td>Horas trabajadas durante este mes: </td>
        <td>5</td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td>Horas trabajadas totales: </td>
        <td>100</td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td>Proyectos totales: </td>
        <td>10</td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td>Proyectos completados: </td>
        <td>3</td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>