<div class="container custom-container">
    <div class="col-md-12" style="width:90%" >
      <h3 class="mb-3 text-center">Actualizar Proyecto</h3>
  
      <div class="form-group">
        <small id="nombre" class="form-text text-muted">Nombre</small>
        <input type="text" [(ngModel)]="proyectoData.nombre" class="form-control">
      </div>
  
      <div class="form-group">
        <small id="descripcion" class="form-text text-muted">Descripcion</small>
        <input type="text" [(ngModel)]="proyectoData.descripcion" class="form-control" >
      </div>
  
      <div class="row">
        <div class="col">
          <div class="form-group">
            <small id="fechaInicio" class="form-text text-muted">Fecha de Inicio</small>
            <input type="date"  [ngModel]="proyectoData.fechaInicio |date: 'yyyy-MM-dd'" class="form-control" [(ngModel)]="proyectoData.fechaInicio">
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <small id="fechaFinalizacion" class="form-text text-muted">Fecha de Finalizacion</small>
            <input type="date" [ngModel]="proyectoData.fechaFinalizacion |date: 'yyyy-MM-dd'" [(ngModel)]="proyectoData.fechaFinalizacion" class="form-control">
          </div>
        </div>
      </div>

      <div class="form-group">
        <small id="link" class="form-text text-muted">Link</small>
        <input type="text" [(ngModel)]="proyectoData.link" class="form-control"  placeholder="Link o Ubicacion">
      </div>
  
      <div class="form-group">
        <button class="btn btn-success btn-lg btn-block"  (click)="updateProyecto()">Actualizar</button>
      </div>
      
      <div class="form-group">
        <button class="btn btn-secondary btn-lg btn-block" (click)="cancel()">Cancelar</button>
      </div>

    </div>
  </div>
  