<div class="container custom-container">
    <div class="col-md-12" style="width:90%" >
      <h3 class="mb-3 text-center">Actualizar Proyecto</h3>
  
      <div class="form-group">
        <small id="nombre" class="form-text text-muted">Nombre</small>
        <input type="text" [(ngModel)]="proyectoData.nombre" class="form-control">
      </div>
  
      <div class="form-group">
        <small id="descripcion" class="form-text text-muted">Descripcion</small>
        <input type="text" [(ngModel)]="proyectoData.descripcion" class="form-control" >
      </div>
  
      <div class="row">
        <div class="col">
          <div class="form-group">
            <small id="fechaInicio" class="form-text text-muted">Fecha de Inicio</small>
            <input type="date"  [ngModel]="proyectoData.fechaInicio |date: 'yyyy-MM-dd'" class="form-control" [(ngModel)]="proyectoData.fechaInicio">
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <small id="fechaFinalizacion" class="form-text text-muted">Fecha de Finalizacion</small>
            <input type="date" [ngModel]="proyectoData.fechaFinalizacion |date: 'yyyy-MM-dd'" [(ngModel)]="proyectoData.fechaFinalizacion" class="form-control">
          </div>
        </div>
      </div>

      <div class="form-group">
        <small id="link" class="form-text text-muted">Link</small>
        <input type="text" [(ngModel)]="proyectoData.link" class="form-control"  placeholder="Link o Ubicacion">
      </div>
  
      <div class="form-group">
        <button class="btn btn-primary btn-lg btn-block"  (click)="updateProyecto()">Actualizar</button>
      </div>
      
      <div class="form-group">
        <button class="btn btn-secondary btn-lg btn-block" (click)="cancel()">Cancelar</button>
      </div>

    </div>
  </div>
  
  <ng-template id= "ng-template"#modal let-modal>
    <!-- Modal Proyecto editado con exito -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog " role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Proyecto editado con exito!</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cerrar()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Su proyecto ha sido editado con exito
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal"(click)="cerrar()">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
    </ng-template>
    