<div class="container custom-container">
    <div class="col-md-12" style="width:90%" >
      <h3 class="mb-3 text-center">Actualizar Proyecto</h3>
  
      <div class="form-group">
        <input type="text" [(ngModel)]="proyectoData.nombre" class="form-control" placeholder="Nombre">
      </div>
  
      <div class="form-group">
        <input type="text" [(ngModel)]="proyectoData.descripcion" class="form-control" placeholder="Descripcion">
      </div>
  
      <div class="form-group">
        <input type="text" [(ngModel)]="proyectoData.fechaInicio" class="form-control" placeholder="Fecha de Inicio">
      </div>

      <div class="form-group">
        <input type="text" [(ngModel)]="proyectoData.fechaFinalizacion" class="form-control" placeholder="Fecha de Finalizacion">
      </div>

      <div class="form-group">
        <input type="text" [(ngModel)]="proyectoData.link" class="form-control"  placeholder="Link o Ubicacion">
      </div>
  
      <div class="form-group">
        <button class="btn btn-success btn-lg btn-block"  (click)="updateProyecto()">Actualizar</button>
      </div>
      
      <div class="form-group">
        <button class="btn btn-secondary btn-lg btn-block" (click)="cancel()">Cancelar</button>
      </div>

    </div>
  </div>
  